- id: "1646198640103"
  alias: Indoor lights (sunrise)
  description: ""
  trigger:
    - platform: state
      entity_id:
        - input_boolean.sun_is_down
      to: "off"
      id: sun
      alias: Sun is up
    - platform: state
      entity_id:
        - input_boolean.awake
      to: "on"
      alias: Awake
  condition:
    - condition: or
      alias: Sun is up or awake
      conditions:
        - condition: and
          alias: Sun is up and not awake
          conditions:
            - condition: trigger
              id:
                - sun
              alias: Triggered by sun
            - condition: state
              entity_id: input_boolean.awake
              state: "off"
              alias: Not awake
        - condition: state
          entity_id: input_boolean.awake
          state: "on"
          alias: Awake
  action:
    - action: scene.turn_on
      target:
        entity_id: scene.living_room_bright
      data:
        transition: 10
      alias: Turn on living room bright
    - action: scene.turn_on
      target:
        entity_id: scene.dining_room_bright
      data:
        transition: 10
      alias: Turn on dining room bright
  mode: single
