version: 2
updates:
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directory: "/cdk"
    schedule:
      interval: "daily"
    assignees:
      - shepherdjerred
    reviewers:
      - shepherdjerred
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - "version-update:semver-major"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - shepherdjerred
    reviewers:
      - shepherdjerred
